.normal {
  padding: 2rem;
  margin: 0 auto;
  max-width: 70rem;
}

.title {
  font-size: 32px;
}

.tag {
  flex-direction: row;
  display:flex;
  align-items:center;
  margin: 0 .75rem 0 0;
}

.icon {
  margin: 0 .25rem 0 0;
}
